    .login_main {
       background-color: #fff;
        background-position: center;
        height: 100vh;
    }
    .login_wrapper
    {
        width: 100%;
        display: flex;
        justify-content: center ;
        align-items: center;
        margin: auto;
        height: 100vh;
    }
    .login_box{
        backdrop-filter: blur(3px) saturate(200%);
        -webkit-backdrop-filter: blur(3px) saturate(200%);
        background-color: #005290ee;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        display: block;
        padding: 2%;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
    .login_header h1{
        color: rgb(0, 233, 233);
        padding: 1%;
        padding-bottom: 4%;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 1px;

    }
    .login_header p
    {
        width: 100%;
        padding: 1%;
        color: rgb(255, 255, 255);
        
    }
    .login_auth{
        color:white;
        padding: 1%;
    }
    .login_auth p{
        padding: 2% 0;
    }
    .login_auth input{
        width: 100%;
        padding: 1.5%;
        border: 1px solid gray;
        background-color: #182744;
        color: white;
        outline: none;
        border-radius: 8px;
        padding-left: 3%;
    }
    .login_auth button{
        width: 100%;
        margin: 5% 0;
        padding: 1.5%;
        border: none;
        border-radius: 8px;
    }
    .login_auth button:hover{
        cursor: pointer;
        color: white;
        background-color: black;
    }
    .register{
        color: white;
        text-decoration: none;
    }